<main>
  <app-navigator [home]="true"/>

  <section class="us-project">
    <div class="information">
      <h1>(Propuesta de valor)</h1>
      <p>(Informacion de la propuesta de valor de la empresa)Delivering projects that fulfill and exceed
        the owners expectations is a process that
        starts during the conceptual stage with a collaborative team from design through construction.
        This integrated team approach puts the focus of all team members specifically towards the culmination
        of the completed project. Check out our projects by clicking on the categories below.
      </p>
    </div>

    <div class="features">
      <div *ngFor="let feature of features" class="feature">
        <img src="assets/images/{{feature.image}}" alt="feature" class="feature-image"/>
        <h4>{{feature.title}}</h4>2
        <p>
          {{feature.description}}
        </p>
      </div>
    </div>
  </section>

  <section class="company">
    <div class="company-features">
      <div *ngFor="let feature of companyFeatures" class="company-feature">
        <img src="assets/images/{{feature.image}}" alt="feature" class="featurecompany-image"/>
        <h4>{{feature.title}}</h4>
        <p>
          {{feature.description}}
        </p>
      </div>
    </div>
  </section>

  <section class="history">
    <img src="assets/images/banner-3.jpg" class="history-image">
    <div class="history-content">
      <h3 class="history-title">Aqui hiria un poco de la historia de la empresa, desde 2018</h3>
      <p>Company, headquartered in San Diego, brings over 42 years of local and national construction experience;
        with a reputation for delivering large and unique design-build projects ahead of schedule and on budget.
        Our company has served clients and building owners for over four decades. In that time, we have found that
        the key to every project’s success is understanding the Owner’s needs and expectations and then exceeding
        those expectations.
      </p>
      <a class="button" routerLink="/history">Leer Historia</a>
    </div>
  </section>

  <section class="references">
    <div *ngFor="let reference of references" class="referece">
      <p class="reference-text">{{reference.text}}</p>
      <h4 class="reference-title">{{reference.people}}</h4>
    </div>
  </section>

  <app-navigator [home]="false" />
</main>
