<main>
  <app-navigator [home]="false" />

  <h1>Nuestros planes</h1>
  <section class="plans">
    <div class="plan">
      <div class="time">
        <h3 class="timeplan">Plan Estandar</h3>
        <p class="discount">5% Descuento</p>
      </div>
      <h4 class="desde" style="font-size: 20px;">Desde</h4>
      <p class="price">$19/<span>mes</span> </p>
      <input type="button" value="Adquirir" routerLink="/contact" class="button"/>
      <h4 class="description">Descripción del plan</h4>
    </div>

    <div class="plan">
      <div class="time">
        <h3 class="timeplan">Plan Medio</h3>
        <p class="discount">10% Descuento</p>
      </div>
      <h4 class="desde" style="font-size: 20px;">Desde</h4>
      <p class="price">$29/<span>mes</span> </p>
      <input type="button" value="Adquirir" routerLink="/contact" class="button"/>
      <h4 class="description">Descripción del plan</h4>
    </div>

    <div class="plan">
      <div class="time">
        <h3 class="timeplan">Plan Premium</h3>
        <p class="discount">18% Descuento</p>
      </div>
      <h4 class="desde" style="font-size: 20px;">Desde</h4>
      <p class="price">$49/<span>mes</span> </p>
      <input type="button" value="Adquirir" routerLink="/contact" class="button"/>
      <h4 class="description">Descripción del plan</h4>
    </div>
  </section>

  <p class="message">
    Para mayor informacion sobre los planes y precio otorgados para el uso de IParking puede comunicarse con nuestro
    personal de atencion al cliente o envienos su informacion de contacto <a routerLink="/contact">aqui</a>
    para que un agente se ponga en contacto con usted.
  </p>

  <app-navigator [home]="false"/>
</main>
