<main>
  <app-navigator [home]="false" />

  <h1>Nuestros planes</h1>
  <section class="plans">
    <div class="plan">
      <div class="time">
        <h3 class="timeplan">Plan mensual</h3>
        <p class="discount">18% Descuento</p>
      </div>
      <p class="price">$9/<span>mes</span> </p>
      <input type="button" value="Pasar a comprar" class="button"/>
      <h4 class="description">Aqui hiria una descripcion del plan</h4>
    </div>

    <div class="plan">
      <div class="time">
        <h3 class="timeplan">Plan mensual</h3>
        <p class="discount">18% Descuento</p>
      </div>
      <p class="price">$9/<span>mes</span> </p>
      <input type="button" value="Pasar a comprar" class="button"/>
      <h4 class="description">Aqui hiria una descripcion del plan</h4>
    </div>

    <div class="plan">
      <div class="time">
        <h3 class="timeplan">Plan mensual</h3>
        <p class="discount">18% Descuento</p>
      </div>
      <p class="price">$9/<span>mes</span> </p>
      <input type="button" value="Pasar a comprar" class="button"/>
      <h4 class="description">Aqui hiria una descripcion del plan</h4>
    </div>
  </section>

  <p class="message">
    Para mayor informacion sobre los planes y precio otorgados para el uso de IParking puede comunicarse con CUZW
    Tecnologies o envienos su informacion de contacto <a routerLink="/contact">aqui</a> para un agente se ponga
    en contacto con usted.
  </p>

  <app-navigator [home]="false"/>
</main>
