<main>
  <app-navigator [home]="false" />
  <h1>Acerca de nosotros</h1>

  <section class="history">
    <img src="assets/images/banner-3.jpg" class="history-image">
    <div class="history-content">
      <div class="vm">
        <h3 class="history-title">Nuestra Misión</h3>
        <p>Proporcionar a nuestros clientes una solución segura, confiable y fácil de usar para la
          reserva de parqueos, con el fin de maximizar la eficiencia y la comodidad en sus desplazamientos.
          A través de nuestro software, buscamos mejorar la calidad de vida de las personas y aportar al desarrollo
          de una movilidad sostenible en las ciudades. Nos comprometemos a brindar un servicio de calidad y excelencia
          a nuestros clientes, garantizando la confidencialidad de su información y cumpliendo con los más altos
          estándares de seguridad y privacidad.
        </p>
      </div>

      <div class="vm">
        <h3 class="history-title">Nuestra Visión</h3>
        <p>Ser la solución líder en software de reservación de parqueos en el mercado nacional e internacional, ofreciendo la
          mejor experiencia de usuario y manteniendo una constante innovación en nuestras tecnologías. Queremos convertirnos
          en un referente en el sector de la movilidad, al brindar una solución segura, confiable y fácil de usar para la reserva
          de parqueos. Nuestra visión es mejorar la calidad de vida de las personas, al reducir el estrés que supone la búsqueda
          de aparcamiento en la ciudad.
        </p>
      </div>
    </div>
  </section>

</main>


