<main>
  <app-navigator [home]="false" />
  <h1>Acerca de nosotros</h1>

  <section class="history">
    <img src="assets/images/banner-3.jpg" class="history-image">
    <div class="history-content">
      <h3 class="history-title">Aqui hiria un poco de la historia de la empresa, desde 2018</h3>
      <p>Company, headquartered in San Diego, brings over 42 years of local and national construction experience;
        with a reputation for delivering large and unique design-build projects ahead of schedule and on budget.
        Our company has served clients and building owners for over four decades. In that time, we have found that
        the key to every project’s success is understanding the Owner’s needs and expectations and then exceeding
        those expectations.
      </p>
      <a class="button" routerLink="/history">Leer Historia</a>
    </div>
  </section>

</main>


